
@{
    ViewBag.Title = "index";
}
<div class="jumbotron">
    <h1> Welcome to Rent A Car </h1>
    <img src="~/Content/carimg.png" alt="Car" />
    <p> You can browse availble cars, submit a request to rent a car.</p>
    <p> We have new vehcles  to rent a car, you can now rent a van or mini bus </p>
    
</div>



